html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    min-height: 100%;
    position: relative;
}

#body {
    margin: 0 auto 0;
    width: 108ex;
    padding: 0 10px 0;
}

h1 {
    font-variant: small-caps;
}

html {
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
}
