<!DOCTYPE html> 
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link href="/css/main.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="/css/default.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="https://plus.google.com/110969377294776852746" rel="author" />
    <link href="https://plus.google.com/110969377294776852746" rel="publisher" />
</head>
<body>
  
<div id="container">
    <div id="body">
        {{ content }}
    </div>
    
    <div id="footer">
        <p class="left">By <a href="http://morgan.conbere.org/">Morgan Conbere</a>, 2012</p>
    </div>
</div>

</body>
</html>
